<div class="banner" style="background-image: linear-gradient(rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%=@cocktail.picture_url%>')">
  <h1><%= @cocktail.name %></h1>
</div>

<div class="container">
  <div class="pad">
      <div class="row">
      <div class="col col-xs-6 ingredient">
        <h3>Ingredients</h2>
        <ul class="list-unstyled">
          <% @cocktail.doses.each do |dose| %>
            <li>
            <p>
              <b><%= Ingredient.find(dose.ingredient_id).name %> -</b> <%= dose.description %> <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, dose_path(dose), method: :delete, data: {confirm: "Are you sure?"} %>
            </p>
            </li>
          <% end %>
        </ul>

      </div>

      <div class="col col-xs-6">
        <div class="ingredient-form">
          <h3>Add a new ingredient</h1>
          <%= simple_form_for [@cocktail, @dose] do |f| %>
            <%= f.input :description %>
            <%= f.association :ingredient, collection: @ingredient, prompt: "Choose an Ingredient" %>
            <%= f.button :submit, class: "btn btn-danger"  %>
          <% end %>
        </div>
      </div>
      <%= link_to "Back to cocktails", cocktails_path, class: "btn btn-success" %>
    </div>
  </div>
</div>
